:root {
    --main-color: #4991AC;
    --third-color: #d3f6e9;
    --second-color: #dc0095;
    --fourth-color: #fff5d2; 
  }

.underTheLight{
    background-color: var(--main-color);
    color: var(--third-color); 
    border: solid var(--second-color) 3px;
}

.BackToShadow{
    background-color: var(--third-color);
    color: var(--main-color);
}

.affichages-dynamiques{
    border: solid var(--second-color) 3px;
    color: var(--main-color);
    font-weight: bold;
}
