.button-star{
    
    width: 50%;
    height: 50%;

}
.star{
    width: 50px;
    height: 50px;
    position: absolute;
    
}

a{
    object-fit: contain;
    text-decoration: none;
    display: flex;
}

.button{
    height: 50%;
    width: 50%;
    padding: 0.5em 0.5em;
    display: inline-block;
    animation: button 10s linear;
    margin-left: auto;
    margin-right: auto;
}

@keyframes button {
    0%{transform: rotate(0deg);}
    25%{transform: rotate(90)}
    50%{transform: rotate(180deg);}
    75%{transform: rotate(270deg);}
    100%{transform: rotate(0deg);}
}

